*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:lightblue ;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr th, table tr td{
    border: 1px solid gray;
}
th{
    font-weight: bold;
}